<html>
<head>
<title>Lawrence Creates</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="global.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('images/location_on.png')">
<p>&nbsp;</p>
<table width="901" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_2">
  <tr>
    <td width="662" rowspan="8" valign="top"><div class="Main"><p><a href="index.html"><img src="images/LawrenceCreates_2013logo_transparent.png" width="255" height="148" alt="Lawrence Creates" border="0"></a></p>
    <p><strong>About Lawrence Creates Makerspace Center for Innovation</strong></p>
    <p><strong>We are a community makerspace for the Lawrence Kansas Community Started in May of 2013 and growing every week.  Join us for open house on Tuesdays from 7:30pm to 9pm.
</strong>Click to email below.</p>
    <p><a href="mailto:andersenjo@sbcglobal.net" class="EmbedLink">WoodShop - Managed by Jo Andersen</a></p>
    <p><a href="mailto:reply@frodex.com" class="EmbedLink">HackLab- Managed by Greg Thompson</a></p>
    <p><a href="mailto:versonova@gmail.com" class="EmbedLink">Design Studio - Managed by Tim Middleton</a></p>
    <p><a href="mailto:srkunen@gmail.com" class="EmbedLink">Lawrence Creates Gallery - Managed By Sarah Kunen</a></p>
    <p><a href="mailto:kirkendall1@gmail.com" class="EmbedLink">Lawrence Creates Founder and Director - Eric Kirkendall</a></p>
    <p>&nbsp;</p>
    <p><a href="https://www.facebook.com/groups/lawrencecreates/" target="_new">Visit us on Facebook </a></p>
    <p><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/" target="_new">Visit us on MeetUp</a></p>
    </div></td>
    <td width="239" rowspan="8" align="center" valign="top"><table width="238" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_" background="images/repeat.png">
      <tr>
        <td height="21">&nbsp;</td>
      </tr>
      <tr>
        <td height="22" align="center"><div class="NavLink"><a href="about.html">About Us</a></div>
          <div class="NavLink"><a href="location.html">Location</a></div>
          <div class="NavLink"><a href="mission.html">Mission</a></div>
          <div class="NavLink"><a href="membership.html">Membership</a></div>
          <div class="NavLink"><a href="join.html">Join Now</a></div>
          <div class="NavLink"><a href="https://www.facebook.com/groups/lawrencecreates/" target="_new">Facebook</a></div>
          <div class="NavLink"><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/" target="_new">MeetUp</a></div>
          <div class="NavLink"><a href="events.html">Events</a></div>
          <div class="NavLink"><a href="/docs">Projects</a></div>
          <div class="NavLink"><a href="calendar.html">Calendar</a></div></td>
      </tr>
  <tr>
    <td width="579" rowspan="2" valign="bottom"><img src="images/lawrence-creates-Site-sample_09.png" alt="" width="238" height="243" usemap="#ArtGuild" border="0"></td>
  </tr>
  <tr></tr>
</table></td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
</table>
<p>&nbsp;</p>

<p>&nbsp;</p>

<map name="ArtGuild">
  <area shape="rect" coords="18,44,225,235" href="http://www.lawrenceartguild.org/" target="new" alt="Lawrence Art Guild">
</map>
</body>
</html>