<html>
<head>
<title>Lawrence Creates</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="global.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('images/location_on.png')"><div id="fb-root"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<p>&nbsp;</p>
<table width="901" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_2">
  <tr>
    <td width="662" rowspan="8" valign="top"><div class="Main"><p><a href="index.html"><img src="images/LawrenceCreates_2013logo_transparent.png" width="255" height="148" alt="Lawrence Creates" border="0"></a></p>
    <p><strong>Events at  Lawrence Creates Makerspace Center for Innovation</strong></p>
    <p><strong>Streaming Makerspace Camera</strong> - Just added  a streaming camera to the space. Take a look and send us some feedback on what you see. </p>
    <p><a href="http://www.lawrencecreates.com/camera.html" target="_new" class="EmbedLink">LC Makerspace HD Camera</a></p>
    <p><strong>Open Source</strong> <strong>Linux Install Festival</strong> - Sunday October 20th 12pm to 4pm.</p>
      <p><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/events/144666002/" class="EmbedLink">Click Here to Sign up on the <strong>Linux Install Festival</strong> meetup</a></p>
    <p><a href="EVENT-LINUX-INSTALL-FESTIVAL-11x17.pdf" target="_new"  class="EmbedLink">Click Here to View the  <strong>Linux Install Festival</strong>  Poster 11x17</a></p>
    <p><a href="EVENT-LINUX-INSTALL-FESTIVAL-letter.pdf" target="_new"  class="EmbedLink">Click Here to  View the  <strong>Linux Install Festival</strong>  8.5 x 11 Flyer</a></p>
    <p><strong>Brain Hacking</strong> - Barb has gathered a great amount of stuff to share with us At the next open house meeting on Tuesday the 22nd October. </p>
    <p><strong>Stone Carvers </strong> - The Sculpture Group Lead by Frank Shopen is well under way each Saturday at 9 am for the next few weeks.</p>
    <p><strong>OPEN HOUSE</strong> - Tuesdays at 7:30pm to 9pm - Forming the Makerspace in these foundational whats-up meetings. These are very informative and a great atmosphere to express any new ideas that you have or need help with. Come out to see the formation and excitment of Lawrence Creates next Tuesday.</p>
    <p><strong>WoodShop </strong> - 220v Power Coming  - Inspection for the Power Updates have been performed and the Crews are getting scheduled to make the updates needed to power the &quot;Bigger WoodShop Equipment.&quot; The New &quot;Plastic Walls&quot; get cleaned and hung on Friday 11th if all goes well.</p>
    <p><strong>HackLab </strong> - Greg has been hard at work on some really special... He has even made some recent orders for a slew of Raspberry Pi boards. </p>
    <p>The HackLab team is working on schedule for new Classes in Electronics and DIY with the Raspberry Pi.</p>
    <p><strong>Design Studio </strong> - Took up some donations for the CNC Software needed to get the CNC Mills a humming. Classes for the use of the mill are coming up next few weeks - Software is purchased. ETA for classes is in process.</p>
    <p>DIY Silk Screen printing at noon Saturday Nov. 2nd. </p>
    <p>3D Printing and 3D Design at 6pm Saturday Nov. 2nd. </p>
    <p><strong>Lawrence Creates Gallery </strong> - We are making some upgrades to the Gallery area and Looking forward to hosting some upcoming featured artists work. Kick off will be at the Final Friday Event in December.    </p><div class="fb-comments" data-href="http://www.lawrencecreates.com/events.html" data-colorscheme="light" data-numposts="5" data-width="600"></div></p>
    <p><a href="https://www.facebook.com/groups/lawrencecreates/" target="_new" class="EmbedLink">Visit us on Facebook </a></p>
    <p><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/" target="_new" class="EmbedLink">Visit us on MeetUp</a></p>
    </div></td>
    <td width="239" rowspan="8" align="center" valign="top"><table width="238" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_" background="images/repeat.png">
  <tr>
    <td width="579" height="21">&nbsp;</td>
  </tr>
  <tr>
    <td height="22" align="center"><div class="NavLink"><a href="about.html">About Us</a></div>
    <div class="NavLink"><a href="location.html">Location</a></div>
    <div class="NavLink"><a href="mission.html">Mission</a></div>
    <div class="NavLink"><a href="membership.html">Membership</a></div>
    <div class="NavLink"><a href="join.html">Join Now</a></div>
    <div class="NavLink"><a href="https://www.facebook.com/groups/lawrencecreates/" target="_new">Facebook</a></div>
    <div class="NavLink"><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/" target="_new">MeetUp</a></div><div class="NavLink"><a href="events.html">Events</a></div><div class="NavLink"><a href="/docs">Projects</a></div><div class="NavLink"><a href="calendar.html">Calendar</a></div>
    </td>
  </tr>
  <tr>
    <td rowspan="2" valign="bottom"><img src="images/lawrence-creates-Site-sample_09.png" alt="" width="238" height="243" usemap="#ArtGuild" border="0"></td>
  </tr>
  <tr></tr>
</table></td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
</table>
<p>&nbsp;</p>

<p>&nbsp;</p>
<!-- End Save for Web Slices -->

<map name="ArtGuild">
  <area shape="rect" coords="18,44,225,235" href="http://www.lawrenceartguild.org/" target="new" alt="Lawrence Art Guild">
</map>
</body>
</html>