<html>
<head>
<title>Lawrence Creates</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link href="global.css" rel="stylesheet" type="text/css">
<script type="text/javascript">
function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
</script>
</head>
<body leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" onLoad="MM_preloadImages('images/location_on.png')">
<!-- Save for Web Slices (lawrence creates Site sample.psd) -->
<p>&nbsp;</p>
<table width="901" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_2">
  <tr>
    <td width="662" rowspan="8" valign="top"><div class="Main"><p><a href="index.html"><img src="images/LawrenceCreates_2013logo_transparent.png" width="255" height="148" alt="Lawrence Creates" border="0"></a></p>
    <p><strong>Membership</strong></p></div>
      <div class="MainCopy">  If you haven't yet joined the Lawrence Creates Makerspace, <u>please join today</u>.  Our grassroots, community-focused economic development organization is in the startup phase, and your support is very important.<br />
<p><img src="images/LCM-Mission.jpg" width="600" height="436" alt="LCM Mission" /><br />
</p>
  <p>The monthly fee is just $20, which you can pay onsite or on our website (under the Join Link) by credit card, plus a one-time $20 initiation fee, which you can pay at the Makerspace when you visit.  There is no commitment, members can quit any time.</p>
  <p> <strong>Members are given a key, and can come anytime. If you have joined, but not yet gotten a key, please come by and pick one up.   </strong></p>
  <p> If you are not yet a member, you are welcome to visit.  Our public hours are now posted on our website (select the calendar link). Just click the link, and then &quot;Calendar&quot;.  Please come check us out, and tell us how we can help you or others develop skills. create a business, or enhance a life.</p>
  <p> Please join today. Your modest financial support will allow us to make the Lawrence Creates Makerspace sustainable, so we can continue to serve the community.</p>
  <p> Thank you!  </p></h5>

<div><strong>Eric Kirkendall</strong></div>
<div><strong>Director</strong></div>
<div><strong>785-260-0083</strong></div>
<br /></div>
</td>
    <td width="239" rowspan="8" align="center" valign="top"><table width="238" height="571" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FFF" id="Table_" background="images/repeat.png">
      <tr>
        <td height="21">&nbsp;</td>
      </tr>
      <tr>
        <td height="22" align="center"><div class="NavLink"><a href="about.html">About Us</a></div>
          <div class="NavLink"><a href="location.html">Location</a></div>
          <div class="NavLink"><a href="mission.html">Mission</a></div>
          <div class="NavLink"><a href="membership.html">Membership</a></div>
          <div class="NavLink"><a href="join.html">Join Now</a></div>
          <div class="NavLink"><a href="https://www.facebook.com/groups/lawrencecreates/" target="_new">Facebook</a></div>
          <div class="NavLink"><a href="http://www.meetup.com/Lawrence-Creates-Makerspace/" target="_new">MeetUp</a></div>
          <div class="NavLink"><a href="events.html">Events</a></div>
          <div class="NavLink"><a href="/docs">Projects</a></div>
          <div class="NavLink"><a href="calendar.html">Calendar</a></div></td>
      </tr>
  <tr>
    <td width="579" rowspan="2" valign="bottom"><img src="images/lawrence-creates-Site-sample_09.png" alt="" width="238" height="243" usemap="#ArtGuild" border="0"></td>
  </tr>
  <tr></tr>
</table></td>
  </tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
  <tr></tr>
</table>
<p>&nbsp;</p>

<p>&nbsp;</p>
<!-- End Save for Web Slices -->

<map name="ArtGuild">
  <area shape="rect" coords="18,44,225,235" href="http://www.lawrenceartguild.org/" target="new" alt="Lawrence Art Guild">
</map>
</body>
</html>